html {
  height: 100%;
}
html body {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  font-size: 18px;
  margin: 0px;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
html body button {
  border: none;
  padding: 15px 32px;
  margin: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
}
html body #header {
  min-height: 300px;
  background-color: #7413dc;
}
html body #header #header-container {
  height: 100%;
  width: 70%;
  margin-left: 15%;
}
html body #header #header-container div {
  height: 100%;
  display: flex;
}
@media screen and (max-width: 1000px) {
  html body #header #header-container div {
    flex-direction: column;
  }
}
html body #header #header-container div #header-logo {
  flex: 1;
}
html body #header #header-container div #header-logo img {
  width: 284.5px;
  height: 90%;
  margin-top: 15px;
}
html body #header #header-container div #header-links {
  flex: 1;
}
html body #header #header-container div #header-links ul {
  padding-top: 38px;
  list-style-type: none;
  font-size: 28px;
}
html body #header #header-container div #header-links ul a {
  color: white;
  text-decoration: none;
}
html body #header #header-container div #header-links ul > li {
  margin-top: 26px;
}
html body #header #header-container div #header-links ul:first-child {
  margin-top: 0px;
}
html body #header #header-container div #header-text {
  flex: 2;
  display: inline-block;
  padding: 5%;
}
html body #header #header-container div #header-text p {
  width: 100%;
  font-size: 18px;
}
html body .section {
  min-height: 550px;
  display: inline-block;
  width: 100%;
}
html body .section .flex {
  padding-top: 2.4%;
  display: flex;
  min-height: inherit;
}
@media screen and (max-width: 1000px) {
  html body .section .flex {
    flex-direction: column;
  }
}
html body .section .flex .text-section {
  min-height: inherit;
  flex: 1;
}
@media screen and (max-width: 1000px) {
  html body .section .flex .text-section {
    text-align: center;
  }
}
html body .section .flex .image-section {
  min-height: inherit;
  flex: 1;
}
@media screen and (max-width: 1000px) {
  html body .section .flex .image-section {
    width: 100%;
  }
}
html body .section .flex .image-section .image-container {
  min-height: inherit;
}
@media screen and (max-width: 1000px) {
  html body .section .flex .image-section .image-container {
    width: 100%;
  }
}
html body .section .flex .image-section .image-container .image-container {
  min-height: inherit;
}
html body #what .flex .text-section {
  background-color: #00a794;
}
html body #what .flex .text-section .text-container {
  width: 68%;
  margin-left: 30%;
  align-content: right;
}
@media only screen and (max-width: 1000px) {
  html body #what .flex .text-section .text-container {
    width: 80%;
    margin-left: 10%;
  }
}
html body #what .flex .text-section .text-container h1 {
  text-align: right;
}
@media only screen and (max-width: 1000px) {
  html body #what .flex .text-section .text-container h1 {
    text-align: center;
  }
}
html body #what .flex .text-section .text-container p {
  font-size: 18px;
}
html body #what .flex .text-section .text-container .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 3vw);
  margin-top: 10%;
}
html body #what .flex .text-section .text-container .grid-container .image-container {
  justify-self: end;
}
html body #what .flex .text-section .text-container .grid-container .image-container img {
  height: 90%;
  width: auto;
}
html body #what .flex .text-section .text-container .grid-container .age {
  justify-self: center;
  align-self: center;
  font-weight: 900;
  font-size: 25px;
}
html body #what .flex .text-section .text-container .grid-container .date {
  align-self: center;
  font-size: 20px;
  line-height: 16pt;
}
html body #what .flex .image-section .image-container {
  height: 100%;
  width: 65%;
  margin-left: 5%;
  background-image: url("../img/climb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1000px) {
  html body #what .flex .image-section .image-container {
    margin-top: 5%;
    width: 100%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 1000px) {
  html body #where .flex {
    flex-direction: column-reverse;
  }
}
html body #where .flex .text-section {
  background-color: #7413dc;
}
html body #where .flex .text-section .text-container {
  margin-left: 5%;
  width: 70%;
}
@media screen and (max-width: 1000px) {
  html body #where .flex .text-section .text-container {
    width: 80%;
    margin-left: 10%;
  }
}
html body #where .flex .text-section .text-container ul {
  padding: 0px;
  padding-left: 5%;
  margin: 0px;
  list-style-type: none;
  float: right;
  font-weight: 400;
  font-size: 20px;
}
@media screen and (max-width: 1000px) {
  html body #where .flex .text-section .text-container ul {
    float: inherit;
  }
}
html body #where .flex .text-section .text-container .button-container {
  width: 100%;
}
html body #where .flex .text-section .text-container .button-container button {
  background-color: white;
  color: #7413dc;
  font-size: 20px;
  font-weight: 600;
  margin-left: 30%;
}
@media screen and (max-width: 1000px) {
  html body #where .flex .text-section .text-container .button-container button {
    margin-left: 5%;
  }
}
html body #where .flex .image-section #map {
  height: 100%;
  width: 70%;
  margin-left: 31%;
  position: relative;
  background-color: #7413dc;
}
@media screen and (max-width: 1000px) {
  html body #where .flex .image-section #map {
    min-height: inherit;
    height: initial;
    margin-left: initial;
    width: 100%;
    margin-top: -5px;
  }
}
html body #where .flex .image-section #map #map-container {
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 85%;
  background-color: white;
}
html body #where .flex .image-section #map #map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
html body #get .flex .text-section .text-container {
  width: 68%;
  margin-left: 30%;
  align-content: right;
}
@media only screen and (max-width: 1000px) {
  html body #get .flex .text-section .text-container {
    width: 80%;
    margin-left: 10%;
  }
}
html body #get .flex .text-section .text-container h1 {
  text-align: right;
  color: #00a794;
}
@media only screen and (max-width: 1000px) {
  html body #get .flex .text-section .text-container h1 {
    text-align: center;
  }
}
html body #get .flex .text-section .text-container p {
  color: black;
  font-size: 18px;
}
html body #get .flex .text-section .text-container .button-container {
  width: 100%;
}
html body #get .flex .text-section .text-container .button-container button {
  background-color: #00a794;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-left: 30%;
}
@media only screen and (max-width: 1000px) {
  html body #get .flex .text-section .text-container .button-container button {
    margin-left: 10%;
  }
}
html body #get .flex .image-section .image-container {
  height: 90%;
  width: 70%;
  margin-left: 5%;
  background-image: url("../img/jump.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
html #footer {
  height: 100px;
  background-color: black;
}
html #footer img {
  height: 80%;
  margin-left: 15%;
  float: left;
}
html #footer p {
  float: left;
  margin-left: 2%;
  margin-top: 40px;
  font-weight: 200;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
