$scout-purple: #7413dc
$scout-green: #00a794

$section-gaps: 2.4%
$internal-gaps: 5%
$side-gaps: 15%

$map-size: 80%

$section-height: 550px


html
  height: 100%
  body
    color: white
    font: 
      family: 'Nunito Sans', sans-serif
      weight: 200
    margin: 0px
    height: 100%
  
    #header
      height: 300px
      background:
        color: $scout-purple

      #header-container
        height: 100%
        width: 100-($side-gaps *2)
        margin-left: $side-gaps

        div
          height: 100%
          display: flex

          #header-logo 
            flex: 1

            img
              width: 284.5px
              height: 90%
              margin-top: 15px
          
          #header-links
            flex: 1

            ul
              padding-top: 38px
              list-style-type: none
              font: 
                size: 28px
            
            ul > li
              margin-top: 26px
         
            ul:first-child
              margin-top: 0px
              
          
          #header-text
            flex: 2
            display: inline-block
            padding: 5%

            p
              width: 100%
              font:
                size: 16px

    .section
      height: $section-height
      display: inline-block
      width: 100%

      .flex 
        padding: $section-gaps 0%
        display: flex
        height: 100 - (2*$section-gaps)
        
        .text-section
          height: 100%
          flex:1
        
        .image-section
          height: 100%
          flex:1
  
    #what

      .flex

        .text-section
          background:
            color: $scout-green 
        
        .image-section
          .image-container
            height: 100%
            width: 100 - $side-gaps * 2 - $internal-gaps
            margin-left: $internal-gaps
            background:
              image: url("../img/climb.jpg")
              size: cover
              repeat: no-repeat
    
    #where

      .flex

        .text-section
          background:
            color: $scout-purple 
        
        .image-section

          #map
            height: 100%
            width: 100 - $side-gaps * 2
            margin-left: $side-gaps * 2 + 1%
            position: relative
            background:
              color: $scout-purple
            
            #map-container
              position: absolute
              top: (100-$map-size)/2
              left: (100-$map-size)/2
              height: $map-size
              width: $map-size + $internal-gaps
              background:
                color: white

    #get

      .flex

        .text-section
        
        .image-section
          .image-container
            height: 100%
            width: 70%
            margin-left: $internal-gaps
            background:
              image: url("../img/jump.jpg")
              size: cover
              repeat: no-repeat
  
  #footer
    height: 100px
    background: 
      color: black
